.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}
.form{
    max-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form input{
    margin-bottom: .5rem;
}
.page h1{
    margin-top: 10%;
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.buttons button{
    width: calc(100% - 1rem);
    margin: .5rem;
}
